/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */
	color: #CC00AA;
}

/* this style exists to make it obvious that you've successfully linked
   the CSS to the page. feel free to remove it once the link is working. */
body {
     border: 1px dotted gray;
     padding: 20px;

     background: linear-gradient(-90deg, red, orange, blue, purple, brown);
     font-family: "Helvetica", sans-serif;
     color: white;

}

a, a:hover {
    text-decoration: none;
    color: white;
}

.jumbotron {
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     background: url("http://lorempixel.com/1140/283");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;
}

.project {
    margin-left: 20px;
    text-align: center;

    animation: spin;
    animation-iteration-count: infinite;
    animation-duration: 8s;
}

.title {
    text-align: center;
}

.title h1 {
    font-size: 30px;
    animation: enlarge;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}

.title p {
    animation: spin;
    animation-iteration-count: infinite;
    animation-duration: 6s;
}

#project-header {
    text-align:center;
}

@keyframes enlarge {
    0% {font-size: 30px;}
    50% {font-size: 100px;}
    100% {font-size: 30px;}
}

@keyframes spin {
    0% {transform:rotate(0deg);}
    50% {transform:rotate(360deg);}
    100% {transform:rotate(-360deg);}
}